@media screen and (min-width:1200px) {
  .slide__item {
    height: 700px;
  }

  .league-info__inner {
    max-width: 1400px;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .rank {
    width: 25%;
  }
  .league-table {
    width: 36%;
  }
  .result {
    width: 36%;
    margin-left: auto;
    margin-right: 0;
  }

  .next {
    display: flex;
    padding: $large*3 0;

    &__title {
      width: 40%;
      border-right: 2px solid $gray2;
    }

    &__title h3 {
      font-size: $ft-grand;
      margin-bottom: $large;
    }
    &__data {
      width: 60%
    }

    &__team {
      top: 50%;
    }

    figure {
      width: 200px;
    }
  }
}
