@media screen and (min-width:1200px) {
  .container {
    max-width: 1140px;
  }

  header {
    margin-bottom: -101px;
  }

  .logo {
    width: 80px;
    z-index: 100;
  }
  .site-nav-btn {
    display: none;
  }

  .nav {
    padding-top: 0;
    padding-bottom: 0;
  }

  .site-nav {
    position: relative;
    left:0;
    margin-right: -$base;
    height: auto;
    width: auto;
    padding-top: 0;
    background-color: transparent;

    &__logo {
      display: none;
    }

    &__list {
      display: flex;
    }

    &__item {
      position: relative;
      border: none;
      max-height: 64px;
      overflow: visible;
    }

    &__item:hover &__sub {
      max-height: 100%;
    }

    &__item:hover &__sub::after {
      height: 40px;
    }

    &__link {
      padding: $medium;
    }

    .sns {
      display: none;
    }
  }

  .site-nav__sub {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 100%;
    right: 0;
    width: 500px;
    overflow: hidden;
    max-height: 0;
    background-color: transparent;

    li {
      position: relative;
      color: $black;
      z-index: 100;
    }

    a {
      padding: $small;
    }
  }

  .site-nav__sub::after {
    content: '';
    position: fixed;
    left: 0;
    width: 100vw;
    height: 0;
    background-color: #fff;
    transition: .3s ease-in-out;
  }

  .slide__item {
    height: 700px;
  }

  .league-info__inner {
    max-width: 1400px;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .rank {
    width: 25%;
  }
  .league-table {
    width: 36%;
  }
  .result {
    width: 36%;
    margin-left: auto;
    margin-right: 0;
  }

  .next {
    display: flex;
    padding: $large*3 0;

    &__title {
      width: 40%;
      border-right: 2px solid $gray2;
    }

    &__title h3 {
      font-size: $ft-grand;
      margin-bottom: $large;
    }
    &__data {
      width: 60%
    }

    &__team {
      top: 50%;
    }

    figure {
      width: 200px;
    }
  }
}
