@media screen and (min-width:768px) {
  

  .rank,
  .league-table {
  }
  
  .rank {
    width: 40%;
  }
  .league-table {
    width: 60%;
  }

  .league-info__inner {
    max-width: 1000px;
  }

  .next__team {

    figure {
      width: 130px;
    }
  }
}

