header {
  position: fixed;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.8);
  z-index: $z2;
}

// 탑 메뉴

.header-top {
  background-color: $orange;
  
  &__inner {
    display: flex;
    justify-content: end;
    padding: 0 $base;
  }

  .sns {
    display: none;
  }
}

.user {
  display: flex;
  margin-right: -$small;

  &__item {
    padding: $small;
    font-size: $ft-micro;
    font-weight: 400;
    color: #fff;
  }
}
// 사이트 메뉴

.header-bottom {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 0 $base;
  
  input {
    display: none;
  }
}

.logo {
  margin-top: -28px;
  width: 50px;
}

// 사이트 메뉴 > 버튼
.site-nav-wrap {
  padding: $base;
  margin-right: -$base;
}
.site-nav-btn{
  display: block;
  position: relative;
  width: 28px;
  height: 2px;
  padding: $small 0;
  background-color: #fff;
  background-clip:content-box;
  box-sizing: content-box;
  cursor: pointer;
  transition: .3s ease-in-out;

  &:hover::before {
    transform: translateY(-3px);
  }
  
  &:hover::after {
    transform: translateY(3px);
  }
  
  &::before,
  &::after {
    content: '';
    position: absolute;
    left: 0;
    width: 28px;
    height: 2px;
    background-color: #fff;
    transition: .3s ease-in-out;
    z-index: $z3;
  }
  
  &::before {
    top: 100%;
  }
  
  &::after {
    bottom: 100%;
  }

  .dim {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.8);
  }
}

// 사이트 메뉴 > 버튼 동작!
#site-nav-btn {

  &:checked ~ .site-nav {
    left: 0;
  }

  &:checked + .site-nav-btn {
    background-color: transparent;
  }

  &:checked + .site-nav-btn .dim {
    display: block;
  }

  &:checked + .site-nav-btn::before {
    transform: translateY(-12px) rotate(45deg);
  }
  
  &:checked + .site-nav-btn::after {
    transform: translateY(12px) rotate(-45deg);
  }
}

// 사이트 메뉴 (모바일) 사이드

.site-nav {
  position: fixed;
  left: -300px;
  top: 0;
  width: 300px;
  height: 100vh;
  padding-top: $base;
  background-color: $black;
  transition: .3s;
  z-index: $z3;

  &__logo {
    display: flex;
    align-items: flex-end;
    padding-left: $base;
    padding-bottom: $base;
    border-bottom: 1px solid $gray3;
  }

  &__logo-img1 {
    width: 40px;
  }

  &__logo-img2 {
    width: 110px;
    padding-left: $medium;
    padding-bottom: $micro;
  }

  &__item {
    color: #fff;
    border-bottom: 1px solid $gray3;
    max-height: 54px;
    overflow: hidden;
  }

  &__item:hover {
    background-color: $orange;
    max-height: 100%;
  }

  &__item:hover &__sub li {
    transform: translateX(0);
  }

  &__link {
    padding: $base;
  }
}

.site-nav__sub {
  background-color: $black;
  transition: .5s;
  
  li {
    transform: translateX(-60px) skew(20deg);
    transition: .3s ease-in-out;
  }

  a{
    font-size: $ft-small;
    padding: $small $base;
  }

  a:hover {
    color: $orange;
  }
}

.sns {
  display: flex;
  align-items: center;
  padding: $base 0;

  a {
    width: 20px;
    padding: 0 $small;
  }

  img {
    transition: .3s;
  }

  a:hover img {
    filter:invert(50%);
  }
}

@media screen and (min-width:768px) {
  .header-top__inner {
    justify-content: space-between;

    .sns {
      display: flex;
      padding: 0;
      margin-left: $large*3;
    }
  }
}

@media screen and (min-width:1200px) {
  .logo {
    width: 60px;
    margin-top: -28px;
  }

  .site-nav-wrap {
    padding: 0;
    margin-right: 0;
  }
  .site-nav-btn{
    display: none;
  }

  .site-nav {
    position: relative;
    left:0;
    margin-right: -$base;
    height: auto;
    width: auto;
    padding-top: 0;
    background-color: transparent;

    &__logo {
      display: none;
    }

    &__list {
      display: flex;
    }

    &__item {
      position: relative;
      border: none;
      max-height: 64px;
      overflow: visible;
    }

    &__item:hover &__sub {
      max-height: 100%;
    }

    &__item:hover &__sub::after {
      height: 40px;
    }

    &__link {
      padding: $medium;
    }

    .sns {
      display: none;
    }
  }

  .site-nav__sub {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 100%;
    right: 0;
    max-height: 0;
    background-color: transparent;
    overflow: hidden;

    li {
      position: relative;
      color: $black;
      z-index: $z2;
    }

    a {
      padding: $small;
      white-space: nowrap;
    }
  }

  .site-nav__sub::after {
    content: '';
    position: fixed;
    left: 0;
    width: 100vw;
    height: 0;
    background-color: #fff;
    transition: .3s ease-in-out;
  }
}
