.league-info {
  padding-top: $large;

  &__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto $large;
  }

  &__item {
    width: 100%;
  }
}

// 리그 정보 > 현재 순위

.rank {
  position: relative;
  background: url(../../img/rank-bg.jpeg) no-repeat;
  background-size: cover; 
  color: #fff;
  padding: $large 0;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,0.7);
  }

  &__data {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;

    small {
      font-size: $ft-medium;
    }

    strong {
      font-size: $ft-grand*2;
      margin: -$base 0;
    }

    button {
      margin-top: $base;
      background-color: transparent;
    }

    h3 {
      font-size: $ft-large;
    }
    
    p {
      text-align: center;
    }
  }
}

// 리그 정보 > 순위표

.league-table {
  font-size: $base - 2px;
  
  table {
    background-color: #fff;
    color: $black;
  }

  thead th{
    text-align: center;
    padding: $medium 0;
    border-top: 1px solid $gray1;
    font-weight: 700;
  }
  
  tr {
    border-bottom: 1px solid $gray1;
  }
  
  td:nth-child(1){
    font-weight: 700;
    width: 40px;
  }  
  td {
    padding: $base 0;
    text-align: center;
  }

  td:nth-child(2) {
    padding-left: 16px;
    line-height: 50px;
    text-align: left;
    
  }
  &__logo {
    float: left;
    width: 48px;
    margin-right: 16px;
  }

  &__ourTeam > td {
    color: #fff;
    background-color: $orange;
  }
}

// 리그 정보 > 다음 경기

.next {
  position: relative;
  padding: $large 0;
  background: url(../../img/main-slide-03.jpeg) no-repeat;
  background-size: cover; 
  background-color: rgba(0, 0, 0, 0.7);
  background-blend-mode: multiply ;
  color: #fff;
  text-align: center;

  &__title {
    font-size: $ft-large;
    text-align: center;
    margin-bottom: $large;
  }

  &__info {
    display: flex;
    justify-content: space-between;
    padding: $medium;
    margin: 0 auto;
  }

  &__team {
    width: 120px;
    text-align: center;

    figcaption {
      margin-top: $base;
    }
  }
  &__data {
    align-self: center;
    text-align: center;

    strong {
      display: block;
      font-size: $ft-grand;
    }

    small {
      display: block;
      font-size: $base;
    }
    .next__time {
      font-size: $large;
    }
  }

  &__pc-btn {
    display: none;
  }
}

.d-day {
  display: flex;
  width: 400px;
  margin: 0 auto;

  &__time {
    width: 25%;
    color: rgb(255, 255, 255);
    text-align: center;
  }
  
  h4 {
    font-family: 'ds-digital';
    font-size: $ft-grand*1.5;
  }
  small {
    font-family: 'ds-digital';
    font-size: $medium;
    font-weight: 800;
  }
}

@media screen and (min-width:768px) {
  .league-table {
    width: 60%;
    order: 1;
  }
  .rank {
    width: calc(40% - 20px);
    order: 2;
  }

  .next {
    &__info {
      width: 700px;
    }
    &__team {
      width: 180px;
    }
  }
}

@media screen and (min-width:1200px) {
  .next {

    &__inner {
      display: flex;
      justify-content: space-between;
      max-width: 1280px;
      margin: 0 auto;
    }

    &__left {
      flex: 1;
      text-align: center;
    }

    &__info {
      border-left: 1px solid $gray1;
      margin: 0;
      padding-left: $large;
    }

    &__mobile-btn {
      display: none;
    }
    &__pc-btn {
      margin-top: $large;
      display: inline-block;
    }
  }  
}
