// color
$orange: #ff7700;
$red: #e31730;
$gray1: #e2e2e2;
$gray2: #938783;
$gray3: #534844;
$black: #212529;

// space

$micro: 4px;
$small: 10px;
$base: 15px;
$medium: 20px;
$large: 30px; 

//font 

$ft-micro: 12px;
$ft-small: 14px;
$ft-base: 16px;
$ft-medium: 20px;
$ft-large: 32px;
$ft-grand: 45px;

// z-index

$z1 : 1;
$z2 : 10;
$z3 : 100;
$z4 : 1000;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
// font-family: 'Montserrat', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
// font-family: 'Open Sans', sans-serif;
@font-face {
  font-family: 'ds-digital';
  src: url('../../font/DS-DIGIT.TTF') format('truetype');
}
