.container {
  width: 100%;
  margin: 0 auto;
}

.hide {overflow: hidden; display:block; position:absolute; border: 0; width: 1px; height: 1px; clip: rect(1px, 1px, 1px, 1px);}

a {
  transition: .3s;

  // &:hover {
  //   color: $blue2;
  // }
}

.shadow {
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.3);
}

.btn {
  text-align: left;
  position: relative;
  width: 150px;
  border: 2px solid #fff;
  padding: $small 0;
  padding-left: $base;
  color: #fff;
  transition: .3s;

  i {
    position: absolute;
    right: $base;
    font-size: $ft-small;
  }

  &:hover {
    background-color: $red;
    border: 2px solid transparent;
  }
}
